body {
  min-height: 100vh;
  display: flex; /*Centers Items*/
  justify-content: center;
  align-items: center;
}

.summaryContainer {
  height: 428px;
  width: 700px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /*Blurry Modern Shadow*/
  border-radius: 30px;
}

.summaryScore img {
  border-radius: 30px;
}

.summaryDetails {
  position: relative;
  left: 30px;
}

.summaryDetails h2 {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.reaction img,
.reaction pre,
.memory img,
.memory pre,
.verbal img,
.verbal pre,
.visual img,
.visual pre {
  display: inline-block;
}

.reaction pre,
.memory pre,
.verbal pre,
.visual pre {
  position: relative;
  bottom: 5px;
  left: 10px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

.reaction,
.memory,
.verbal,
.visual {
  margin: 10px;
  width: 300px;
}

.reaction {
  background-color: hsl(6, 100%, 98%);
}

.memory {
  background-color: hsl(42, 100%, 97%);
}

.verbal {
  background-color: hsl(173, 53%, 97%);
}

.visual {
  background-color: hsl(240, 71%, 97%);
}
